@import '@theme/colors.module.scss';

$bggradient1: linear-gradient(0deg, $C0 0%, $White 100%);
$bg-gradient-2: linear-gradient(180deg, $GradientColorPink 4.44%, $GradientColorBlue 94%);
$bg-gradient-3: linear-gradient(90deg, #ff9457 0%, #dea5f9 100%);

:export {
    bggradient1: $bggradient1;
    bg-gradient-2: $bg-gradient-2;
    bg-gradient-3: $bg-gradient-3;
}
