@import '@theme/colors.module.scss';
@import '@theme/fonts.scss';
@import '@theme/viewport.scss';
@import '@theme/common.module.scss';
@import '@theme/shadow.module.scss';

.contact {
    .contact-me {
        margin-top: 2rem;
        background-color: $B1;
        padding: 1rem;
        @include flex-model(column, center, center, 1rem);
        .email,
        .phone {
            @include flex-model(column, center, center, 0.3rem);
            a {
                text-decoration: underline !important;
            }
        }
        .social {
            @include flex-model(column, center, center, 0.3rem);
        }
    }
}
